<html>
<head>
<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />
<script type="text/javascript" src="/public/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="chat.js"></script>
<script type="text/javascript" src="/public/mustache.js"></script>
</head>
<body>
	<p>Hi <strong id="user">{{name}}</strong></p>
	<div id="convo">

	</div>
	<input type="text" id="message" />
	<button id="send">Send</button>
	<script id="lineTmpl" type="text/template" src="/public/templates/line.tpl"></script>
	<!--<script type="text/javascript" src="/public/chat.js"></script>-->
</body>
</html>