<html>
<head>
<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />
</head>
<body>
	<p>Welcome {{hello}}, click <a href="converse?name={{hello}}">here</a> to continue</p>
</body>
</html>